

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:lightgreen; font-size:45px;">
    <b>MS-Materiais Sustentaveis</b>
    </div>
    <div>
        <pre>
            Ola Senhor/a
            Estamos a enviar este Email para poder completar o seu registro.
            click<a href="@ViewBag.ConfirmationLink">Completar</a>
        </pre>
    </div>
</body>
</html>
